<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.wuguishifu.alfred-uuid-v4</string>
	<key>connections</key>
	<dict>
		<key>68FA08A8-88B4-413B-BCDA-E009DAB1955B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D3C3987B-1596-47E0-BBF5-EA963F639DA7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D3C3987B-1596-47E0-BBF5-EA963F639DA7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>58613687-979A-4E9D-B408-8BA4AD92D66A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Bo Bramer</string>
	<key>description</key>
	<string>generate a random v4 uuid</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>uuidv4</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>58613687-979A-4E9D-B408-8BA4AD92D66A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>src/script.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D3C3987B-1596-47E0-BBF5-EA963F639DA7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>uuid</string>
				<key>subtext</key>
				<string>Generate a random v4 UUID.</string>
				<key>text</key>
				<string>v4 uuid</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>68FA08A8-88B4-413B-BCDA-E009DAB1955B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># alfred-uuid-v4

This workflow generates a random v4 uuid using built-in tooling and copies it to the user's clipboard.

You can run the workflow using the keyword `uuid`.</string>
	<key>uidata</key>
	<dict>
		<key>58613687-979A-4E9D-B408-8BA4AD92D66A</key>
		<dict>
			<key>xpos</key>
			<real>465</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>68FA08A8-88B4-413B-BCDA-E009DAB1955B</key>
		<dict>
			<key>xpos</key>
			<real>140</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>D3C3987B-1596-47E0-BBF5-EA963F639DA7</key>
		<dict>
			<key>xpos</key>
			<real>295</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>0.0.1</string>
	<key>webaddress</key>
	<string>https://github.com/wuguishifu/alfred-uuid-v4</string>
</dict>
</plist>
